<table id="view-$customField.id" class="TableStyle" style="width:100%">
	<tr class="bar">
		<td>#</td>
		<td>Name</td>
        <td>EC2 groups</td>
        <td>Security group IDs</td>
        <td>Scheme</td>
        <td>Listeners</td>
        <td>Protocol</td>
        <td>Port</td>
        <td>Path</td>
        <td>Timeout</td>
        <td>Interval</td>
        <td>Healthy threshold</td>
        <td>Unhealthy threshold</td>
	</tr>
</table>

#if ($value)
	<script type="text/javascript">
		var tableObj = document.getElementById("view-$customField.id");
		if ( tableObj.rows.length <=1 ){
   			ELBtableShow("$value","$customField.id");
   		}
	</script>
#end
