#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams $webResourceManager)

$webResourceManager.requireResource("TrendMicro.DCS.JIRA.CustomFields.Table.CustomField-Table:CustomField-Table-resources")

#set ( $SGcols = "name,des,rule,protocal,fport,eport,sd,sgid" )

<table id="edit-$customField.id" class="TableStyle" style="width:100%">
	<tr class="bar">
		<td>#</td>
		<td>Name</td>
		<td>Description</td>
		<td>Rule</td>
		<td>Protocal</td>
		<td>Port range start</td>
		<td>Port range end</td>
		<td>Source/Destination</td>
		<td>ID</td>
		<td>Selected</td>
	</tr>
</table>

<button type="button" id="add_button-$customField.id" onclick='SGrowAdd("$customField.id")'>add</button>
<button type="button" id="del_button-$customField.id" onclick='rowDel("$customField.id", "$SGcols")'>delete</button>
<button type="button" id="copy_button-$customField.id" onclick='rowCopy("$customField.id", "$SGcols")'>copy</button>
<br>
<input id="result-$customField.id" style="display:none" name="$customField.id" value="$textutils.htmlEncode($!value)"/>
<span id="SGid" style="display:none">$customField.id</span>
<span id="SGvalue" style="display:none">$!value</span>

<script>
	tableMonitor("$customField.id","$SGcols");
	var tableObj = document.getElementById("edit-$customField.id");
	if(tableObj != null){
		if ( tableObj.rows.length <= 1 ){
			SGtableBuild("$value","$customField.id");
		}
	}
</script>

#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams $webResourceManager)
