#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams $webResourceManager)

$webResourceManager.requireResource("TrendMicro.DCS.JIRA.CustomFields.Table.CustomField-Table:CustomField-Table-resources")

#set ( $EBScols = "type,mount,size,vtype,iops,terminate,encrypted")

<table class="TableStyle" id="edit-$customField.id" style="width:100%">
    <tr class="bar">
        <td>#</td>
        <td>Type</td>
        <td>Mount point</td>
        <td>Size(GB)</td>
        <td>Volume type</td>
        <td>IOPS value</td>
        <td>Delete on Termination?</td>
        <td>Encrypted?</td>
        <td>Selected</td>
    </tr>
    
</table>

<button type="button" id="add_button-$customField.id" onclick='EBSrowAdd("$customField.id")'>add</button>
<button type="button" id="del_button-$customField.id" onclick='rowDel("$customField.id", "$EBScols")'>delete</button>
<button type="button" id="copy_button-$customField.id" onclick='rowCopy("$customField.id", "$EBScols")'>copy</button>

<br>    
<input id="result-$customField.id" style="display:none" name="$customField.id" value="$textutils.htmlEncode($!value)"/>
<span id="EBSid" style="display:none">$customField.id</span>
<span id="EBSvalue" style="display:none">$!value</span>

<script>
	tableMonitor("$customField.id","$EBScols");
	var tableObj = document.getElementById("edit-$customField.id");
	if(tableObj != null){
		if ( tableObj.rows.length <= 1 ){
			EBStableBuild("$value","$customField.id");
		}
	}
</script>

#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams $webResourceManager)
