$webResourceManager.requireResource("TrendMicro.DCS.JIRA.CustomFields.Table.CustomField-Table:CustomField-Table-resources")

<table id="view-$customField.id" class="TableStyle" style="width:100%">
	<tr class="bar">
		<td>#</td>
   		<td>Name</td>
		<td># of instances</td> 
		<td>AMI</td>
		<td>Instance class</td>
		<td>KeyName</td>
		<td>Public IP conf</td>
		<td>Subnet ID</td>
		<td>Security Group IDs</td>
		<td>NAT conf</td>
		<td>EBS devices</td>
		<td>Userdata</td>
	</tr>
</table>

#if ($value)
	<script type="text/javascript">
		var tableObj = document.getElementById("view-$customField.id");
		if ( tableObj.rows.length <=1 ){
   			EC2tableShow("$value","$customField.id");
   		}
	</script>
#end
